body{
	min-width: 360px;
    /*background-color: black;
	background-image: url(BG1.png);*/
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right;
	background-size: 100%;
	font-family: sans-serif;
	line-height: 1.5;
}

@media(max-width: 1200px) {
	body{
		background-size:1200px;
	}
}

p{
	word-wrap: break-word;
}

div{
	/*border: solid 1px black;*/
}

h3{
	margin-bottom:5px;
}

#content{
	position: absolute;
	left: 0;
	top: 50px;

	text-align: center;
	
	margin: 0px;
	margin-bottom:50px;
	margin-left: 0;
	padding-top: 0;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 20px;
	
	min-height: 200px;
	min-width: 340px;
	width: 94%;
	max-width: 800px;
	
	background-color: rgba(255,255,255,0.9);
	border-radius: 2px;
}

#name, #links{
	margin-bottom: 10px;
	margin-top:10px;
	text-align: left;
	align-content: center;
	border-radius: 2px;
}

#name {
	font-size: 24px;
	padding-left: 1%;
}

.link{
	display:inline-block;
	padding: 1%;
	/*background-color: rgba(220,220,220,0.8);*/
}

.link:hover{
	background-color: #eee;
}

#tab{
    text-decoration: none;
}

a{
	text-decoration: none;
	color: #1ae;
}

a:hover{
	text-decoration: underline;
}

a:visited{
	text-decoration: none;
	color: #1ae;
}

#head{
	vertical-align: bottom;
	display: block;
	max-width: 98%;
	min-width: 150px;
	min-height: 150px;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 20px;
	padding-left: 220px;

	background-image: url(images/self.png); /*url(images/self.png);*/
	background-repeat: no-repeat;
	background-size: 200px;
}

#stuff{
	/*position:relative;*/
	min-height: 200px;
	text-align:justify;
	vertical-align: top;
	display: block;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 1%;
	border-top:#eee 1px solid;
	width: 96%;
}


#CV iframe{
	width: 100%;
	min-height: 600px;
}

.image img{
	width:60%;
	position:relative;
	left:20%;

}

.small_image img{
	width:20%;
	position:relative;
	left:40%;

}

.medium_image img{
	width:30%;
	position:relative;
	left:35%;

}

.timeline tr {
	vertical-align: top;
}

.timeline td {
	padding: 10px;
	line-height: 1.5;
}

.timeline .date{
	font-style: italic;
	border-right: 1px solid black;
}

@media only screen and (min-width: 800px){
	#content{
		position: absolute;
		left: 50%;
		margin-left: -400px;
	}
}

@media only screen and (max-width: 700px){
	body{
		background-size: fill;
	}

	#head{
		max-width: 90%;
		display: block;
	}

	#content{
		width: 94%;
	}

	#stuff{
		border:#eee 0px solid;
		border-top: #eee 1px solid;
		text-align: justify;
		font-size: 18px;
	}

	.link{
		width: 49%;
	}

	#tab{
		max-width: 100%;
	}

	.image img{
		width:80%;
		position:relative;
		left:10%; 
	}

	#CV iframe{
		width: 100%;
	}
}


#boxes{
	width:100%;
	height:100%;
	padding:0;
	/*text-align: center;*/
}

.box{
	position:relative;
	/*text-align: center;*/
	display: block;
	/*background-color: rgba(225, 225, 225, 0.5);*/
	width: 90%;
	/*padding:10px;*/
	margin:5px;
	overflow-wrap: break-word;
	vertical-align:top;
}

.box a{
	font-style: italic;
	display: block;
	text-align: center;
}

.box b{
	display: block;
	font-size: 10px;
	margin-right: 10px;

	border-top: #eee 1px solid;
}

.box p{
	display: block;
	text-align: right;
	margin:0;
}

.post {
	margin-top: 20px;
	padding-right: 10px;
	border-top: 1px #eee solid;
	border-right: 1px #eee solid;
}

.abstract {
	padding-top: 5px;
	padding-bottom: 20px;
}

.hoverreq{
	font-size: 10px;
	visibility: hidden;
}

/* COURSE PAGES */
#cpnav {
	position: fixed;
	left:10px;
	top: 50px;
	width: 130px;
	margin:0;
	padding: 10px;
	font-size: 15px;
	text-align: left;
	border: 1px solid #eee;
}

#cpnav #table_of_contents a {
	background-color: white;
	display: block;
	border: 2px solid #1ae;
	padding: 5px;
	margin: 2px;
}

#grade_table{
	align-self: center;
	width:200px;
}

#grade_table tr .grade_col {
	text-align: center;
}

#cpstuff{
	position:absolute;
	left: 150px;
	top:0px;
	min-height: 200px;
	min-width: 300px;
	text-align:justify;
	vertical-align: top;
	display: block;
	padding: 20px;
	width: calc(70% - 130px);
}

#cpstuff h1 {
	text-align: left;
}

#cpschedule tr td{
	vertical-align: top;
	margin: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding:10px;
}

#cpschedule tr .date {
	text-align: right;
	max-width: 100px;
}

@media only screen and (max-width: 500px) {
	#cpnav{
		position: fixed;
		width: 100%;
		min-width: 300px;
		left: 0px;
		top: 0px;
		z-index: 10;
		background-color: white;
	}
	#cpnav #table_of_contents a {
		background-color: white;
		display: inline-block;
		border: 2px solid #1ae;
		padding: 2px;
	}
	#cpstuff{
		position:absolute;
		left:0px;
		top: 130px;
		text-align: left;
	}
	td{
		text-align: left;
	}
}