#course_head{
	vertical-align: bottom;
	display: block;
	max-width: 98%;
	min-width: 150px;
	min-height: 150px;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: 0;
}

.coursetable {
    border:#eee 1px solid;
    margin: 10px;
}

.coursetable tr td {
    border-top:#eee 1px solid;
    border-left:#eee 1px solid;
    padding: 2px;
    padding-right: 10px;
}


@media only screen and (max-width: 500px) {
.link {
	padding-top: 15px;
	padding-bottom: 15px;
}
}

.figure {
	font-style: italic;
	font-size: small;
	max-width: 80%;
	text-align: center;
	align-content: center;
	margin-left:auto;
	margin-right:auto;
}

.figure img {
	display: block;
	max-width: 80%;
	max-height: 300px;
	margin-left:auto;
	margin-right:auto;
}