#course_head{
	vertical-align: bottom;
	display: block;
	max-width: 98%;
	min-width: 150px;
	min-height: 150px;
	font-weight: bold;
	margin: 0px;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: 0;
}

.coursetable {
    border:#eee 1px solid;
    margin: 10px;
}

.coursetable tr td {
    border-top:#eee 1px solid;
    border-left:#eee 1px solid;
    padding: 2px;
    padding-right: 10px;
}


@media only screen and (max-width: 500px) {
.link {
	padding-top: 15px;
	padding-bottom: 15px;
}
}

.figure {
	font-style: italic;
	font-size: small;
	max-width: 80%;
	text-align: center;
	align-content: center;
	margin-left:auto;
	margin-right:auto;
}

.figure img {
	display: block;
	max-width: 80%;
	max-height: 300px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 10px;
}

.exercise {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid blue; */
	background-color: rgba(255, 242, 167, 0.479);
}

.exercise::before {
	color: rgb(88, 75, 0);
	content: "Exercise. ";
	font-weight: bold;
}

.problem {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid blue; */
	background-color:rgba(243, 112, 255, 0.295) ;
}

.problem::before {
	color: rgb(101, 0, 110) ;
	content: "Problem. ";
	font-weight: bold;
}

.definition {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid blue; */
	background-color:rgba(164, 203, 255, 0.479) ;
}

.definition::before {
	color: rgb(0, 46, 107);
	content: "Definition. ";
	font-weight: bold;
}

.example {
	margin:10px;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding:2%;
	/* border: 1px solid blue; */
	background-color:rgba(148, 255, 223, 0.3) ;
}

.example::before {
	color: rgb(0, 87, 61);
	content: "Example. ";
	font-weight: bold;
}

.hint {
	color: rgba(0,0,0,0);
	font-style: italic;
	font-size: small;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 1px dashed rgb(101, 0, 110) ;
}

.hint::before {
	color: rgb(56, 56, 56);
	content: "Hint: ";
	font-weight: bold;
}

.hint:hover {
	color:black;
}

.figure table {
	margin-left: auto;
	margin-right: auto;
	
	margin-bottom: 10px;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

td {
	min-width: 20px;
	text-align: center;
}

.alignenv, .alignenv img, .alignenv td {
	max-width: 70%;
	min-width: 50px;
}

.alignenv {
	display: block;
	margin: 20px;
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.alignenv td, .alignenv th {
  border: none;
  padding: 5px;
}
